.posts-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.post-row-item:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
    text-decoration: underline;
    font-size: 4rem;
}
a{
    
    text-decoration: none;
    
    
    
}
.bejegyzesek{
    
    color: #6e0f2d;
    font-size: 23px;
    
    
}
.Aejegyzesek{
    color:  white;
    font-size: 23px;
}
.abackground{
    
    background-color: #f2f4ea;
    opacity: 83%;
    border-radius: 80%;
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;   
    justify-content: center; 
    height: 100px;   
    width: 150px;       
   
    
    
}
.Sbackground{
    text-decoration: underline #ffffff;
    background-color: #4d0c20;
    opacity: 70%;
    border-radius: 20px;
    
    
    
}
.bejegyzesek:visited{
    text-decoration: none;
    color: #6e0f2d;
}
.posts-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
}


.post-main-item {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 8px solid #f2f4ea;
    padding: 15px;
    box-sizing: border-box;
    flex: 1 1 calc(33.333% - 20px); 
    background-color: #797979;
    border-radius: 44px;
    transition:0.3s ease-in-out;
    background-size: cover; background-position: center;
    text-align: center;
    min-height: 400px;
    
    
    
}
.post-main-item:hover, .post-small-item:hover{
    scale: 105%;
}


.post-small-item {
    
    padding: 15px;
    box-sizing: border-box;
    flex: 1 1 calc(20% - 20px); 
    background-size: cover; background-position: center;
    border-radius: 5px;
    font-size: 0.9rem;
    transition:0.3s ease-in-out;
    min-height: 350px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.post-main-item:hover,
.post-small-item:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
